# main application name
service: cirrus

# high level config
provider:
  name: aws
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-west-2'}
  runtime: python3.9
  vpc:
    securityGroupIds:
      - !GetAtt pubPrivateVPC.DefaultSecurityGroup
    subnetIds:
      - !Ref privateSubnet1
  environment:
    CIRRUS_LOG_LEVEL: DEBUG
    CIRRUS_DATA_BUCKET: !Ref Data
    CIRRUS_PAYLOAD_BUCKET: !Ref Payloads
    CIRRUS_STATE_DB: !Ref StateTable
    CIRRUS_EVENT_DB_AND_TABLE: !Ref StateEventTimestreamTable
    CIRRUS_STACK: "#{AWS::StackName}"
    CIRRUS_PROCESS_QUEUE_URL: !Ref ProcessQueue
    CIRRUS_PUBLISH_TOPIC_ARN: !Ref PublishTopic
    CIRRUS_FAILED_TOPIC_ARN: !Ref FailedTopic
    CIRRUS_INVALID_TOPIC_ARN: !Ref FailedTopic

custom:
  batch:
    SecurityGroupIds:
      - !GetAtt pubPrivateVPC.DefaultSecurityGroup
    Subnets:
      - !Ref privateSubnet2
    BasicComputeEnvironments:
      MaxvCpus: 128
    LambdaAsBatchJob:
      Memory: 2048
      Vcpus: 1
    GeoLambdaAsBatchJob:
      Memory: 2048
      Vcpus: 1
  pythonRequirements:
    useStaticCache: false
    slim: true
    slimPatternsAppendDefaults: false
    slimPatterns:
      - "botocore/**"
      - "botocore-*/**"
      - "boto3/**"
      - "boto3-*/**"
      - "bin/**"
      - "dateutils*"
      - "docutils/**"
      - "docutils-*/**"
      - "numpy/**"
      - "numpy-*/**"
      - "rasterio/**"
      - "rasterio-*/**"
      - "six.py"
      - "six-*/**"
      - "urllib3/**"
      - "urllib3-*/**"
      - "jmespath/**"
      - "jmespath-*/**"
