pytest>=7.2.0
pytest-cov>=4.0.0
pytest-mock
flake8>=5.0.4
moto>=4.0.0
black~=22.8
isort~=5.10
mypy>=0.990
pyupgrade>=3.2.1
pre-commit>=2.20.0
pre-commit-hooks>=4.3.0
darglint>=1.8.1
pep8-naming>=0.13.2
moto[cloudwatch]~=4.2
