{
    "type": "FeatureCollection",
    "features": [],
    "process": [
        {
            "workflow": "minimal",
            "succeed": ${succeed?true},
            "replace": ${replace?false}
        }
    ],
    "id": "collection/workflow-minimal/item${id_suffix?}"
}
