name: Docs
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Set up uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --locked --group docs
      - name: Build documentation
        run: |
          cd ./docs
          uv run make clean build CIRRUS_VERSION=$GITHUB_REF_NAME
      - name: Copy documentation into gh-pages
        if: github.event_name != 'pull_request'
        run: |
          cd ./docs
          uv run make gh-pages-copy gh-pages-versions-update CIRRUS_VERSION=$GITHUB_REF_NAME
      - name: Commit gh-pages changes
        if: github.event_name != 'pull_request'
        run: |
          cd ./docs/gh-pages
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "CI doc updates" -a ||:
      - name: Push gh-pages changes
        if: github.event_name != 'pull_request'
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: ./docs/gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
