name: Python Test
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    strategy:
      matrix:
        python-version:
          - "3.12"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install '.[cli]'
      - name: pre-commit
        run: pre-commit run --all-files --verbose
      - name: Test with pytest
        run: pytest --cov=cirrus --cov-report=xml
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          fail_ci_if_error: true
          verbose: true
